* {
    margin: 0;
    padding: 0;
}

#top-bar {
    padding: 40px 0;
    border-bottom: 2px solid;
    background: black;
    color: white;
    text-align: right;
}


#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: right;
   padding-bottom: 10px;
}